.heroContent {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  box-sizing: border-box;
  padding-block-end: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  border-bottom: 1px solid #34a7ff;
}

.heroInfo {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.heroInfo p {
  color: var(--gray10);
}

.heroImage {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
}

.imageLogoContent {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.imageLogoContent img {
  width: 100%;
  height: inherit;
  object-fit: contain;
  border-radius: 50%;
}
.heroInfo h1 {
  margin: 0;
  padding: 0;
}

.contentButton {
  width: 100%;
  margin-block-start: 1rem;
}

.portafolio {
  display: flex;
  flex-direction: column;
}

.portafolio h4 {
  margin: 0;
}

.buttonContainer {
  display: flex;

  column-gap: 1rem;
}

@media screen and (min-width: 500px) {
  .heroImage {
    flex: 1 0 50%;
  }
  .heroInfo {
    flex: 1 0 50%;
    padding: 0;
  }
  .heroContent {
    flex-direction: row;
    margin-block-start: 2rem;
  }
  .imageLogoContent {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 700px) {
  .heroImage {
  }
  .heroInfo {
  }
  .heroContent {
  }
  .imageLogoContent {
    width: 300px;
    height: 300px;
  }
}
