:root {
  --color-primary: #141414;
  --gray10: #9ba4ad;
  --white: #ffffff;
  --blue-primary: #34a7ff;
  --black: #000;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;

  background-color: var(--black);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* > p {
  color: (--gray10);
}
.debug {
  border: 1px solid red;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.contact {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding: 1rem; */
}
.contactoSection {
  padding: 1rem;
}
.contact a {
  text-decoration: none;
  color: var(--blue-primary);
}
.contact span {
  font-size: 1.5rem;
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 762px) {
  .wrapper {
    width: 700px;
  }
  .contact span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .wrapper {
    width: 1200px;
  }
}
